<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-sm">Lorem ipsum dolor <span highlight>sit amet consectetur adipisicing elit.</span> Saepe corporis reprehenderit sed officia ut iure? Ea, enim perspiciatis placeat amet quasi pariatur similique nostrum quis, nobis consequatur doloribus possimus atque.</p>
    <p class="text-sm">Número de clientes:</p>
    <app-counter class="text-sm" [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/>
    <div>
        <app-wave-audio audioUrl="assets/audio.mp3"/>
    </div>
</div>
